/*Folha de normalização ou reset*/
@import url('https://yarnpkg.com/en/package/normalize.css');

/*Fontes não web safe*/
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');


/*Variáveris Globais: podem ser acessadas em todo o projeto */
:root {

    --size_xl: 1.87rem;
    --size_lg: 1.56rem;
    --size_md: 1.25rem;
    --size_sm: .85rem;
    --size_xs: .90rem;

    --bg_primary__main: #FFFFFF;
    --bg_primary__alt: #333333;
    --bg_primary__highlight:rgba(0, 0, 0, 0.25);
    --bg_secondary__main:#EEEEEE;
    --bg_secondary__alt: #51D275;
    --bg_secondary__alt1:#DC9730;
    --fg_primary:#777777;
    --fg_secondary:#AAAAAA;
    --fg_tertiary:#888888;
    --fg_quartenary: #555555;
    --fg_quinary:#FFFFFF;

    --font_main: "Ropa Sans";
}

/*Cores*/

 body{
    background-color:var(--bg_primary__main);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
 }

 h1{
    color: var(--fg_primary);
 }

 .title{
    color: var(--fg_secondary);
 }

 .amount, .yourStyle{
    color: var(--fg_tertiary);
 }

 .button_new, .button_sale, .texto1, .texto2, .texto3, .linha1, .linha2,
 .linha3, .linha4, .tituloSocialMedia {
    color: var(--fg_tertiary);
 }

 .pArtigo{
    color: var(--fg_quartenary);
 }

 .articles{
    background-color: var(--bg_secondary__main);
 }

 .button_new{
    background-color: var(--bg_secondary__alt);
    color: var(--fg_quinary);
 }

 .button_sale{
    background-color: var(--bg_secondary__alt1);
    color: var(--bg_primary__main);
 }

 .texto1, .texto2, .texto3 {
    color: var(--fg_quinary);
 }

 footer {
    background-color: var(--bg_primary__alt);
 }

 .linha1, .linha2, .linha3, .linha4, .tituloSocialMedia{
    color: var(--fg_quinary);
 } 

 .container_header {
    box-shadow: 0px 2px 10px var(--fg_primary);
 }

 /*Tipografia*/

 h1, .yourStyle, .amount, .title, p, .button_new, .button_sale, .texto1, .texto2, .texto3, .linha1, .linha2,
 .linha3, .linha4, .tituloSocialMedia {
    font-family: var(--font_main);
 }

 h1{
    font-size: var(--size_xl);
 }

 .title{
    font-size: var(--size_xs);
 }

 .amount{
    font-size: var(--size_lg);
 }

 .pArtigo {
    font-size: var(--size_xs);
 }

 .button_new, .button_sale {
    font-size: var(--size_md);
 }

 h2, .texto1, .texto2, .texto3{
    font-size: var(--size_lg);
 }

.linha1, .linha2, .linha3, .linha4, .tituloSocialMedia{
    font-size: var(--size_sm);
 }

/*Estilos*/

/*---header---*/

header{
   position: fixed;
   background-color: white;
   z-index: 10;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 49px;
   display: flex;
   justify-content: space-between;
   
     
}

.logoLovt{
   width: 63px;
   height: 25px;
   left: 150px;
   margin: 12px 0px 16px 100px;

}

.title{
   position: absolute;
   left: 170px;
   top: -7px;
   bottom: 20px;
   width: 60px;
   height: 22px;
   line-height: 15px;
}

.nav_icon{
   width: 18px;
   height: 12px;
   margin: 18px 70px 19px 0px;   
}


/*---main article---*/
/*
#mainArticle{
   max-width: 1100px;
   margin: 70px auto 37px;
   display: flex;
   justify-content: center;
}

.imgBanner{
   width: 100%;
}

/*---articles 1 & 2---

.articleOneandTwo{
   width: 100%;
   margin: 0px auto;
   justify-content: space-between;
   display: flex;
   flex-direction: row;
   
   column-gap: 31px;
}

.articles{
   width: 404px;
   height: 381px;
   margin: 0px auto;
}

.imgArticle{
   width: 100%;
} */



#mainArticle {
   max-width: 78.8%;
   margin: 70px auto 37px;
   display: flex;
   justify-content: center;
  

}

.imgBanner {
   width: 100%;
}

/*-------------------------------------------------------*/

/* CSS ARTICLE PRODUTOS*/

.articleOneandTwo {  
   display: flex;
   justify-content: center;
   flex-wrap: wrap; 

}

.contain {
   display: flex; 
   
}

.articles {
   margin: 10px 100px;
   width: 500px;
   height: 420px;
   display: flex;
   background: #eeee;
    
   
}

.section-contain {
  width: 100%;
}

.section-contain img {
   width: 500px;
}


.buttonAmount{
   position: absolute;
   padding-top: 270px;
   width: 450px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 9px 13px 0px 12px;
   
}

.amount {
   
   width: 86px;
   height: 33px;
   font-family: 'Ropa Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 27px;
   color: #888888;
}

.button_new {
   width: 56px;
   height: 21px;
   background: #51D275;
   border-radius: 10.5px;
   font-family: 'Ropa Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}
.button_sale{
   width: 56px;
   height: 21px;
   background: #DC9730;
   border-radius: 10.5px;
   font-family: 'Ropa Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pArtigo{
   max-width: 100%;
   height: 44px;
   font-family: 'Ropa Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 11px;
   text-align: justify;
   color: #555555;
   margin: 0px 13px 12px 12px;
}


/*CSS OPCIONAL*/

.yourStyle{
    
   max-width: 697px;
   margin: 45px auto 57px;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.name{
   margin-bottom: 13px;
   width: 266px;
   height: 33px;
   font-family: 'Ropa Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 27px;
   display: flex;
   justify-content: center;
   align-self: center;
   align-items: center;
   text-align: center;
   color: #888888;
}

.pictures {
   
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   height: 150px;
   max-width: 697px;
   margin-bottom: 13px;
}

.botao1 {
   max-width: 697px;
   position: absolute;
   font-family: 'Ropa Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 27px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #888888;
   
   
}
.img1 {
   position: absolute;
   opacity: 0.5;
   width: 72.5%;   
}



/*---------------------------------------------------------FOOTER--------------------------------------------------------------------*/


footer{

   max-width: 100%;
   height: 300px;
   background: #333333;
   display: flex;
   justify-content: center;
   
}

.caixaMapa{
   max-width: 250px;
   margin: 30px 250px;    
}

.caixaMapa img {
   border-radius: 10px;
   width: 350px;   
}


.textosFooter {
   max-width: 450px;
   margin: 49px 150px 5px 2px;
}
.textosFooter div{
   font-family: 'Ropa Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 25px;
   text-align: justify;
   color: #FFFFFF;
   max-width: 100%;
}

.socialMedia{
   position: relative;
   width: 300px;
   display: flex;
   justify-content: space-between;
   
}

.IconsSocialMedia {
   position: absolute;
   display: flex;
   flex-wrap: wrap;
   top: 40px;
   width: 100px;
   grid-gap: 20px;
}



@media (max-width: 720px){

   .caixaMapa img{
       width: 250px;
       height: 180px;
       
   }
   .caixaMapa {         
      margin: 20px auto;
      overflow: hidden;

   }

   .textosFooter {
      position: absolute;
      margin-top: 250px;
      margin-left: 280px;      
   }

   .contain {
      width: 98%;
      margin-left: -80px;
      overflow: hidden;
   }

   .buttonAmount {
      
      width: 70%;
   }

   footer {
      height: 500px;
      
   }
   
}


